 <div class="pageheader">
   <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Credit/DebitNote Invoice</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
           <div class="pull-right">
            <%= link_to 'Download PDF ',show_credit_debit_note_credit_debit_note_path( @credit_debit_note, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> <b> | </b> <%=link_to 'Back', credit_debit_notes_path, class: 'btn btn-success'%>
          </div>
          
           <div class="row">
             <div class="col-md-4">
             <div class="pull-left">
             
            <strong>Consignor</strong>
            <p><strong>Invoice Number:</strong>
              <%= @credit_debit_note.invoice_no%></p>
              <p><strong>Date:</strong>
                <%= @credit_debit_note.date_of_original_invoice%></p>
                <p> <strong>Customer Name:</strong>
                 <%= @credit_debit_note.customer.customer_name%></p>
                 <p> <strong>Address:</strong>
                   <%= @credit_debit_note.customer.address%></p>
                   <p> <strong>GSTIN No:</strong>
                     <%= @credit_debit_note.customer.gstin_no_reg%></p>
                    
                       <br>
                     </div></div>
                   <div class="col-md-4 col-sm-offset-8">
                      <div class="pull-right">
                        <strong>Consignee</strong>
                          <p><%=current_user.party.party_name%></p>
                          <p><strong>Date:</strong>
                            <%= @credit_debit_note.date_of_original_invoice%></p>
                            <p> <strong>Address:</strong>
                             <%=current_user.party.party_address%></p>
                             
                             <p> <strong>GSTIN No:</strong>
                               <%=current_user.party.party_gstin_no%></p>
                               <p> <strong>PAN No</strong>
                                 <%=current_user.party.party_pan_no%></p>
                                 <br>
                               </div></div></div>
                               <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                     <th>Sr No</th>
                                     <th>Item Description</th>
                                     <th>HSN/SAC</th>
                                     <th>UOM</th>
                                     <th>Unit Price</th>
                                     <th>Quantity</th>
                                     <th>Net Amount</th>
                                     <th>Tax Rate</th>
                                     <th>Tax Type</th>
                                     <th>Tax Amount</th>
                                     <th>Total Amount</th>
                                   </tr>
                                 </thead>

                                 <tbody>
                                  <%tax_amt = 0%>
                                  <%total_amt = 0%>
                                  <%  @credit_debit_note.credit_debit_note_items.each_with_index do |i,n|%>
                                  <tr>
                                    <td><%= n + 1 %></td>
                                    <td><%= i.item.dogns%></td>
                                    <td><%= i.item.item_hsn_no%></td>
                                    <td><%= i.item.unit_of_measure.name%></td>
                                    <td>&#8377;<%= i.unit_price%></td>
                                    <td><%= i.quantity%></td>
                                    <td>&#8377;<%= i.net_amt%></td>
                                    <td><%= i.tax_rate%>&#37;</td>
                                    <td>CGST+SGST</td>
                                    <td>&#8377;<%= i.tax_amt%></td>
                                    <td>&#8377;<%= i.total_amt%></td>
                                  </tr>
                                  <% tax_amt += i.tax_amt.to_f%>
                                  <%total_amt += i.total_amt.to_f%>
                                   <%@credit_debit_note.update(invoice_value: total_amt)%>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <b> Total Tax </b>&#8377;<%=tax_amt%><br>
                    <b>Total Amount</b>&#8377;<%=total_amt%><br>
                    <b>Taxable Value</b>&#8377;<%=text_field_tag :total_amt,"",value: total_amt.to_i,id: :total_amt, readonly:true%><br>
                    <b>Cess</b> <%=text_field_tag :cess,"",id: :cess%><br>
                    <b>Caluclated Cess</b> <%=text_field_tag :invoice1,"",id: :invoice1, readonly:true%><br>
                    <b>Total Invoice Value</b><%=text_field_tag :total_invoice_value,"",id: :total_invoice_value, readonly:true %><br>
                    <%if @credit_debit_note.total_invoice_value.present?%>
                     <b>Cess:</b><%=@credit_debit_note.cess%>&#37;<br>
                    <b>Total:</b>&#8377;<%=@credit_debit_note.total_invoice_value%>
                    <%end%>
                    <br>
                    
                  </div>
                  <button onclick="myFunction()", class="btn btn-success">Update Cess</button>

                </div>
              </div>
            </div>
            </div>
       </div>
      </div>
     </div>
</div>





                    <% content_for :javascript do %>
<script type="text/javascript">

function refresh (timeoutPeriod){ 
    refresh = setTimeout(function(){window.location.reload(true);},timeoutPeriod); 
  } 

  


 $(document).on("keyup", "#cess, #total_amt", function() {
    var a =  +$('#total_amt').val();
    var b =  $('#cess').val();
    var c =  a*b/100;
    +$('#invoice1').val(c);
    var d = +$('#total_invoice_value').val(c+a);

    par = c+a;
    par1 = b;
 });
 // var url = window.location.href;
 //     if(window.location.href.indexOf("params1")) {
 //      refresh(2400);
 //    }

 //   if (url.contains('?')) {
 //    refresh(2400);
 //  }

 function myFunction() {
    var test  = $('#total_invoice_value').val();
    var test1 = $('#cess').val();
    document.location.search += '&params1='+ test + '&params2='+ test1;





}


 function button(){
  alert(par);
 }




</script>
<%end%>