  <div class="pageheader">
                <h1>New Party</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li class="active">New Party</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Party</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                           
                           <%= form_with(model: party, local: true) do |f| %>
                              <% if party.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(party.errors.count, "error") %> prohibited this party from being saved:</h2>

                                  <ul>
                                  <% party.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Party Name</label>
                                          <%= f.text_field :party_name,class: "form-control",placeholder: "Party Name."%>
                                      </div>
                                    </div>

                                  <%if current_user.role == 'Party'%>
                                    <!-- <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Email</label>
                                          <%#= f.text_field :email, :value => current_user.email,class: "form-control",readonly:true%>
                                       </div>
                                    </div> -->
                                  <%else%>
                                    <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Email</label>
                                          <%= f.text_field :email,class: "form-control"%>
                                       </div>
                                    </div>
                                  <%end%>

                                  <%if current_user.role == 'Party'%>

                                  <%else%>
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Party No</label>
                                          <%= f.text_field :party_no,class: "form-control",placeholder: "Party No.", readonly:true%>
                                      </div>
                                    </div>
                                  <%end%>



                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">GST No</label>
                                          <%= f.text_field :party_gstin_no, class: "form-control", id: :gstno ,placeholder: "Gst No."%>


                                      </div>
                                      

                                    </div>

                                    

                                    <% content_for :javascript do %>
                                    <script type="text/javascript">  

                                       $(document).on("keyup", "#gstno", function() {

                                        var  value = document.getElementById('gstno').value;

                                        var res = value.substring(0, 2);

                                        var res1 = value.substring(12, 14)
                                        if(res1=="1Z" && value.length==15 && parseInt(res)<38){
                                          alert("heello");
                                          }
                                        else{}    
                                              
                                              });

                                            
                                    </script> 
                                    <%end%> 


                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">ARN No</label>
                                          <%= f.text_field :party_arn_no, class: "form-control", placeholder: "ARN No."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Address</label>
                                          <%= f.text_field :party_address, class: "form-control" ,placeholder: "Address."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-12 control-label">Place Of Supply</label>
                                          <%= f.text_field :place_of_supply, class: "form-control",placeholder: "Place of supply."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Commodity Name</label>
                                          <%= f.text_field :commodity_name, class: "form-control" ,placeholder: "No."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">Tarrif No</label>
                                          <%= f.text_field :tarrif_no, class: "form-control" ,placeholder: "No."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">HSN No</label>
                                         <%= f.text_field :hsn_no, class: "form-control" ,placeholder: "No."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Rate Of Tax</label>
                                         <%= f.text_field :rate_of_tax, class: "form-control" ,placeholder: "Tax Rate."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Name Service</label>
                                          <%= f.text_field :name_service, class: "form-control" ,placeholder: "Name."%>
                                      </div>
                                    </div>

                                     <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-15 control-label">Service Accounting Code</label>
                                          <%= f.text_field :service_acc_code, class: "form-control" ,placeholder: "Code."%>
                                        </div>
                                    </div>


                                     <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-6 control-label">PAN NO</label>
                                          <%= f.text_field :party_pan_no, class: "form-control" ,placeholder: "PAN No."%>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">State Name</label>
                                           <%= f.select :state_name, options_for_select(["Andaman Nicobar Islands",
                                  "Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli", "Daman and Diu","Delhi","Goa", "Gujarat","Haryana","Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka","Kerala","Lakshadweep", "Madhya Pradesh", "Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand", "West Bengal"
                                 ]),{prompt:true}, class: "form-control" %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">State Code</label>
                                            <%= f.select :state_code, options_for_select(["35", "28", "37", "12","18", "10", "04", "22","26", "25", "07", "30", "24", "06", "02", "01" , "20", "29", "32", "31",  "23", "27", "14", "17", "15", "13", "21", "34", "03", "08", "11", "33", "36", "16", "09", "05" "19"]),{prompt:true},class: 'form-control'%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">CA Name</label>
                                            <%= f.text_field :ca_name, class: "form-control" ,placeholder: "CA Name."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">CA Contact</label>
                                            <%= f.text_field :ca_contact , class: "form-control" ,placeholder: "Conatct."%>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-15 control-label">Upload Profile Image</label>
                                            <%=f.file_field :image,class: "form-control"%>
                                      </div>
                                    </div>

                                  

                                    <div class="panel-body">
                                      <div class="col-sm-offset-3 col-sm-12">
                                        <%= f.submit class: "btn btn-success"%>
                                        <%= link_to 'Back', parties_path,class: "btn btn-primary" %>
                                      </div>
                                    </div>
                                
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
        </section>



                     <% content_for :javascript do %>
                   <!--Load these page level functions-->
                    <script>
                    $(function(){
                      Messenger().post("Thanks for checking out NeuBoard!");

                      var loc = ['top', 'right'];
                      var style = 'flat';

                      var $output = $('.controls output');
                      var $lsel = $('.location-selector');
                      var $tsel = $('.theme-selector');

                      var update = function(){
                        var classes = 'messenger-fixed';

                        for (var i=0; i < loc.length; i++)
                          classes += ' messenger-on-' + loc[i];

                        $.globalMessenger({ extraClasses: classes, theme: style });
                        Messenger.options = { extraClasses: classes, theme: style };

                        $output.text("Messenger.options = {\n    extraClasses: '" + classes + "',\n    theme: '" + style + "'\n}");
                      };

                      update();

                      $lsel.locationSelector()
                        .on('update', function(pos){
                          loc = pos;

                          update();
                        })
                      ;

                      $tsel.themeSelector({
                        themes: ['flat', 'future', 'block', 'air', 'ice']
                      }).on('update', function(theme){
                        style = theme;

                        update();
                      });

                    });
                    </script>
            <% end %>