<div class="pageheader">
  <h1>Receipt Voucher</h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a>
      </li>
      <li>Forms</li>
      <li class="active">Receipt Voucher</li>
    </ol>
  </div>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Receipt Voucher</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <%= nested_form_for @receipt_voucher, url: {action:'create', controller: 'receipt_vouchers'} do |f|%>
       <%if current_user.role == 'Party'%>

                                            <div class="form-group">
                                              <div class="col-sm-3">
                                                <label class="col-sm-10 control-label">Search Customers</label>           <%=f.select :customer_id ,current_user.customers.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
                                              </div>
                                            </div>
                                            <%else%>

                                            <div class="form-group">
                                              <div class="col-sm-3">
                                                <label class="col-sm-10 control-label">Search Customers</label>           <%=f.select :customer_id ,Customer.all.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
                                              </div>
                                            </div>
                                            <%end%>
                                          

                                           <div class="form-group">
                                            <div class="col-sm-3">
                                              <label class="col-sm-6 control-label">Address</label>   
                                               <input type="address" name="address" id="address" class="form-control"></td> </div>
                                            </div>
                                           

                                           <div class="form-group">
                                            <div class="col-sm-3">
                                              <label class="col-sm-6 control-label">GST No</label>   
                                                <input type="gstin_no_reg" name="gstin_no_reg" id="gstin_no_reg" class="form-control"></td>
                                            </div>
                                           </div>

                                           <div class="form-group">
                                            <div class="col-sm-3">
                                              <label class="col-sm-6 control-label">PAN No</label>   
                                                <input type="cust_pan_no" name="cust_pan_no" id="cust_pan_no" class="form-control"></td>
                                            </div>
                                           </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Account No</label>   
          <%= f.text_field :debit_acc_no,class: 'form-control'%>
        </div>
      </div>

     <!--  <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">To</label>   
          <%#= f.text_field :to_whom, class: 'form-control'%>
        </div>
      </div> -->

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Against</label>   
          <%= f.text_field :against, class: 'form-control'%>
        </div>
      </div>

     <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Cheque or Cash</label>   
          <%= f.select :cash_or_check, options_for_select(["Cash","Check"]),{prompt:true}, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-35 control-label">Cheque Number</label>   
          <%= f.text_field :check_no, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Date</label>   
          <%= f.date_field :date,value: Date.today, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Voucher No</label>   
          <%= f.text_field :voucher_no, class: 'form-control'%>
        </div>
         <br><br><br>
      </div>
     
      <br><br><br><br><br><br>

      <div class="panel-body">

        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
             <tr>
                     <th width="85"><h6>Details Of Items/ Invoice No</h6></th>
                     <th width="50"><h6>Amount</h6></th>
                     <th width="20"><h6>Action</h6></th>
          
            </tr>
          </thead>
          
        </table>
        

        <%= f.fields_for :receipt_voucher_items, :wrapper => false do |invoice_item| %>
        
        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <colgroup>
            <col class="one"/>
            <col class="two"/>
          </colgroup>

          
          <tr class="fields">
            <td><%= invoice_item.text_field :details, id: :details, class: 'form-control'%></td>
            <td><%= invoice_item.text_field :amount, id: :amount, class: 'form-control'%></td>
            
            <td><%= invoice_item.link_to_remove "Remove", class: 'btn btn-info' %></td>
          </tr>
        </table>

      </div>
      <!--grid_table-->
      
      <% end %>
      <td><%= f.link_to_add "Add Item", :receipt_voucher_items , class: 'btn btn-danger' %></td>
      <div class="pull-right">
        <p><%= f.submit "Create Invoice", class: 'btn btn-success' %></p>
      </div>
      <% end %>

    </section>
  </div>
</div>
</div>
</div>
</div>
</div>


<% content_for :javascript do %>
<script type="text/javascript">

$(document).ready(function() {
  $('select#receipt_voucher_customer_id').select2({
    placeholder: "Choose a customers",
    allowClear: true
  });
});
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $("#receipt_voucher_customer_id").on("change", function() {
    var customer_id;
    Item = $(this).val();
    $.ajax({
      url: "/customers/load_customer_data",
      type: "GET",
      data: {customer_id: Item },
      dataType: "json"
     }).done(function (data) {
     console.log(data);
      $("#address").val(data[0]);
      $("#gstin_no_reg").val(data[1]);
      $("#cust_pan_no").val(data[2]);
      // $("#uom").val(data[1]);
      // $("#rate").val(data[2]);
     
    });
  });
</script>
<% end %>
