<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   p{
    width: 250px;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee;
   }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }
</style>
</head>
<body>

  <div class="center"><h2><b><font color="grey">Receipt Voucher</font></b></h2></div>
  <div id="heading">
   

      
    <div class align ="left">
      <p><strong>Debit acc no::</strong>
        <%=@receipt_voucher.debit_acc_no%></p>
        <p><strong>To:</strong>
          <%=@receipt_voucher.to_whom%></p>
          <p> <strong>Against:</strong>
           <%=@receipt_voucher.voucher_no%></p>
           
           <p> <strong>Cash or Check:</strong>
             <%=@receipt_voucher.cash_or_check%></p>
          


      <div class="row">
             <div class="col-md-4">
             <div class="pull-left">
            <p><strong>Voucher Number:</strong>
              <%=@receipt_voucher.voucher_no%></p>
              <p><strong>Date:</strong>
                <%=@receipt_voucher.date%></p>

                       <br>
                     </div></div>

                    

                               <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                     <th>Sr No</th>
                                     <th>Item Description</th>
                                     <th>Amount</th>
                                   </tr>
                                 </thead>

                                 <tbody>
                                 
                                  <%total_amt = 0%>
                                  <% @receipt_voucher.receipt_voucher_items.each_with_index do |i,n|%>
                                  <tr>
                                    <td><%= n + 1 %></td>
                                    <td><%= i.details%></td>
                                    <td>&#8377;<%= i.amount%></td>
                                  </tr>
                                  <%total_amt += i.amount.to_f%>
                                  <% end %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total Amount </b>&#8377;<%=total_amt%></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                
               

                    <br>

                  </div>
                </div>
              </div>
            </div>