 <div class="pageheader">
   <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Receipt Voucher</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <div class="pull-right">
          <%= link_to 'Download PDF ',show_receipt_voucher_receipt_voucher_path(@receipt_voucher, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> <b> | </b> <%=link_to 'Back',receipt_vouchers_path, class: 'btn btn-success'%></div>
          <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
          
          <div class align ="left">
           <p><strong>Voucher Number:</strong>
        <%=@receipt_voucher.voucher_no%></p>
          <p> <strong>Against:</strong>
          <%=@receipt_voucher.against%></p>
           <p> <strong>Cash or Check:</strong>
             <%=@receipt_voucher.cash_or_check%></p>
                 <p> <strong>Check Number:</strong>
             <%=@receipt_voucher.check_no%></p>     
                   

                   <div class="row">
                     <div class="col-md-4">
                       <div class="pull-left">
                
                          <p><strong>Date:</strong>
                            <%=@receipt_voucher.date%></p>
                            <br>
                          </div></div>

                          <div class="col-md-4 col-sm-offset-8">
                      <div class="pull-right">
                        <p><strong>Consigner:</strong>
                          <%=current_user.party.party_name%></p>
                          <p><strong>Date:</strong>
                            <%=@receipt_voucher.date%></p>
                            <p> <strong>Address:</strong>
                             <%=current_user.party.party_address%></p>
                             
                             <p> <strong>GSTIN No:</strong>
                               <%=current_user.party.party_gstin_no%></p>
                               <p> <strong>PAN No</strong>
                                 <%=current_user.party.party_pan_no%></p>
                                 <br>
                               </div></div></div>

                          <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                 <th>Sr No</th>
                                 <th>Item Description</th>
                                 <th>Amount</th>
                               </tr>
                             </thead>

                             <tbody>
                               
                              <%total_amt = 0%>
                              <% @receipt_voucher.receipt_voucher_items.each_with_index do |i,n|%>
                              <tr>
                                <td><%= n + 1 %></td>
                                <td><%= i.details%></td>
                                <td>&#8377;<%= i.amount%></td>
                              </tr>
                              <%total_amt += i.amount.to_f%>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <b>Total Amount </b>&#8377;<%=total_amt%><br>
                

                <br>

              </div>
            </div>
          </div>
        </div>