<div class="pageheader">
  <h1>Job Work(Mfg to JW)</h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a>
      </li>
      <li>Forms</li>
      <li class="active">Job Work(Mfg to JW)</li>
    </ol>
  </div>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Job Work(Mfg to JW)</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <%= nested_form_for @job_work, url: {action:'create', controller: 'job_works'} do |f|%>


      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">GSTIN of Job Work</label>   
          <%= f.text_field :gstin_of_job_worker,class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">State</label>   
         <%= f.select :state, options_for_select(["Andaman Nicobar Islands",
              "Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli", "Daman and Diu","Delhi","Goa", "Gujarat","Haryana","Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka","Kerala","Lakshadweep", "Madhya Pradesh", "Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand", "West Bengal"
             ]),{prompt:true}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Challan Number</label>   
          <%= f.text_field :challan_no, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Challan Date</label>   
          <%= f.date_field :challan_date,value: Date.today, class: 'form-control'%>
        </div>
      </div>

      
     
      <br><br><br><br><br><br>

      <div class="panel-body">

        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
             <tr>
             <th width="85"><h6>Description of Goods</h6></th>
             <th width="85"><h6>Unit Price</h6></th>
             <th width="85"><h6>Quantity</h6></th>
                     <th width="85"><h6>Taxable Value</h6></th>
                     <th width="50"><h6>Types of Goods</h6></th>
                     <th width="20"><h6>Integrated Tax Rate</h6></th>
                      <th width="20"><h6>Central Tax Rate</h6></th>
                       <th width="20"><h6>State Tax Rate</h6></th>

          
            </tr>
          </thead>
          
        </table>
        

        <%= f.fields_for :job_work_items, :wrapper => false do |invoice_item| %>
        
        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <colgroup>
            <col class="one"/>
            <col class="two"/>
            <col class="three"/>
            <col class="four"/>
            <col class="five"/>
            <col class="six"/>
             <col class="seven"/>
              <col class="eight"/>

          </colgroup>

          
          <tr class="fields">
         <%if current_user.role == 'Party'%>
                                   <td> <%=invoice_item.select :item_id ,current_user.items.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "select"%></td>
                                   <%else%>
                                   <td> <%=invoice_item.select :item_id ,Item.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "select"%></td>
                                   <%end%>
                                    <td><%= invoice_item.text_field :unit_price, id: :rate, class: 'form-control'%></td>
           <td><%= invoice_item.text_field :quantity, id: :qty, class: 'form-control'%></td>
            <td><%= invoice_item.text_field :taxable_value, id: :taxable_value, class: 'form-control'%></td>
            <td><%= invoice_item.text_field :types_of_goods, id: :types_of_goods, class: 'form-control'%></td>
                        <td><%= invoice_item.text_field :integrated_tax_rate, id: :integrated_tax_rate, class: 'form-control'%></td>
 <td><%= invoice_item.text_field :central_tax_rate, id: :integrated_tax_rate, class: 'form-control'%></td>
  <td><%= invoice_item.text_field :state_tax_rate, id: :integrated_tax_rate, class: 'form-control'%></td>
            
            <td><%= invoice_item.link_to_remove "Remove", class: 'btn btn-info' %></td>
          </tr>
        </table>

      </div>
      <!--grid_table-->
      
      <% end %>
      <td><%= f.link_to_add "Add Item", :job_work_items , class: 'btn btn-danger' %></td>
      <div class="pull-right">
        <p><%= f.submit "Create Invoice", class: 'btn btn-success' %></p>
      </div>
      <% end %>

    </section>
  </div>
</div>
</div>
</div>
</div>
</div>



