<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   p{
    width: 250px;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee;
   }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }

 img {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 3px;
  width: 150px;
}
</style>
</head>
<body>
<%= wicked_pdf_image_tag 'test.jpg' %>


  <div class="center"><h2><b><font color="grey">Job Worker(Mfg to JW)</font></b></h2></div>
  <div id="heading">
   

      
    <div class align ="left">
    <p><strong>Consignee</strong>
      <p><strong>GSTIN of Job Worker</strong>
        <%=@job_work.gstin_of_job_worker%></p>
        <p><strong>E-Way Bill No:</strong>
          <%=@job_work.e_way_bill_no%></p>
          <p> <strong>Tranportation Mode:</strong>
           <%=@job_work.transportation_mode%></p>
           
           <p> <strong>Vehicle Number</strong>
             <%=@job_work.vehicle_no%></p>
              <p> <strong>Place of Supply</strong>
             <%=@job_work.state%></p>
             <p> <strong>Nature of Processing:</strong>
                               <%=@job_work.nature_of_processing%></p>
 
             
              <div class align ="right">
                        <p><strong>Consigner:</strong>
                          <%=current_user.party.party_name%></p>
                          <p><strong>Date:</strong>
                            <%=@job_work.challan_date%></p>
                            <p> <strong>Address:</strong>
                             <%=current_user.party.party_address%></p>
                             
                             <p> <strong>GSTIN No:</strong>
                               <%=current_user.party.party_gstin_no%></p>
                               <p> <strong>PAN No</strong>
                                 <%=current_user.party.party_pan_no%></p>
                                 <br>
                               </div>


      <div class="row">
             <div class="col-md-4">
             <div class="pull-left">
                <p> <strong>Challan Number</strong>
             <%=@job_work.challan_no%></p>
              <p> <strong>Challan Date</strong>
             <%=@job_work.challan_date%></p>
                       <br>
                     </div></div>

                    

                               <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                     <th>Sr No</th>
                                     <th>Item Description</th>
                                     <th>CGST</th>
                                     <th>SGST</th>
                                      <th>Tax rate</th>
                                     <th>Total Amount</th>
                                   </tr>
                                 </thead>

                                 <tbody>
                                 
                                  <%total_amt = 0%>
                                  <% rate = 0 %>
                                  <% cgst = 0 %>
                                  <% sgst = 0 %>
                                  <% @job_work.job_work_items.each_with_index do |i,n|%>
                                  <tr>
                                    <td><%= n + 1 %></td>
                                    <td><%= i.item.dogns%></td>
                                    <td>&#8377;<%=ans = i.taxable_value.to_f/2%></td>
                                    <td>&#8377;<%=ans%></td>
                                    <td><%= i.state_tax_rate%>&#37;</td>
                                    <% rate = rate + i.state_tax_rate.to_f %>
                                    <% sgst = sgst + ans.to_f %>

                                   
                                    <td>&#8377;<%= i.total_amt%></td>
                                  </tr>
                                  <%total_amt += i.total_amt.to_f%>
                                  <% end %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td>CGST: &#8377;<%= sgst %></td>
                                    <td>SGST: &#8377;<%= sgst %></td>
                                    <td>Tax Rate: &#8377;<%= rate %></td>
                                    <td><b>Total Amount </b>&#8377;<%=total_amt%></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>