  <div class="pageheader">
                <h1>Setting</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">Series Setting</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Series Setting</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                            <%= form_for :setting,method: :patch do |f| %>
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Purchase Series</label>
                                          <%= f.text_field :p_series,value: @setting.p_series,class: "form-control",placeholder: "PurchaseSeries."%>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Sale Series</label>
                                            <%= f.text_field :s_series, class: "form-control" ,placeholder: "SaleSeries."%>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Export Purchase</label>
                                            <%= f.text_field :ExpPurchase, class: "form-control" ,placeholder: "ExpPurchase."%>
                                        </div>
                                    </div>
            

                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Exempt purchase</label>
                                            <%= f.text_field :Exempt, class: "form-control" ,placeholder: "Exempt."%>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-12">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                 
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

       