<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }

   p {
     width: 250px;

   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee;
   }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }
  address{
    display: block;
    width: 300px;
    
   }
 img {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 3px;
  width: 150px;
}


.gallery-text {
  float: left;
  width: 48%;
  margin: 1%;
}
.gallery-text p {
  word-break: break-all;
}
</style>
</head>
<body>




  <div id="gallery-text">

    <div class="gallery-text">

      <%= wicked_pdf_image_tag 'test.jpg' %>

    </div>


    <div class="gallery-text" align="right">

      <p>
        <p> <h2><strong><font color="black">Refund Voucher </strong>  </h2></font> <font size="3">(Original for Recipient)</font>


        </p>
      </div>                
    </div>

      
    <div class align ="left">
      <p><strong>Acc no::</strong>
        <%=@refund_voucher.debit_acc_no%></p>
        <p><strong>To:</strong>
          <%=@refund_voucher.to_whom%></p>
          <p> <strong>Against:</strong>
           <%=@refund_voucher.voucher_no%></p>
           
           <p> <strong>Cash or Check:</strong>
             <%=@refund_voucher.cash_or_check%></p>
          
<!--  <div class align ="right">
                        <p><strong>Consignee:</strong>
                          <%=current_user.party.party_name%></p>
                          <p><strong>Date:</strong>
                            <%=@refund_voucher.date%></p>
                            <p> <strong>Address:</strong>
                             <%=current_user.party.party_address%></p>
                             
                             <p> <strong>GSTIN No:</strong>
                               <%=current_user.party.party_gstin_no%></p>
                               <p> <strong>PAN No</strong>
                                 <%=current_user.party.party_pan_no%></p>
                                 <br>
                               </div> -->


      <div class="row">
             <div class="col-md-4">
             <div class="pull-left">
            <p><strong>Voucher Number:</strong>
              <%=@refund_voucher.voucher_no%></p>
              <p><strong>Date:</strong>
                <%=@refund_voucher.date%></p>

                       <br>
                     </div></div>

                      <table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px; border-color: white;">
                <thead>
                  <tr>
                    <th style="font-size: 16px; background-color: #ccc; width: 75px;" colspan="11"><center>Refund Voucher</center></th>
                  </tr>
                                  <thead>
                                    <tr>
                                     <th>Sr No</th>
                                     <th>Item Description</th>
                                     <th>Amount</th>
                                   </tr>
                                 </thead>

                                 <tbody>
                                 
                                  <%total_amt = 0%>
                                  <% @refund_voucher.refund_voucher_items.each_with_index do |i,n|%>
                                  <tr>
                                    <td><%= n + 1 %></td>
                                    <td><%= i.details%></td>
                                    <td>&#8377;<%= i.amount%></td>
                                  </tr>
                                  <%total_amt += i.amount.to_f%>
                                  <% end %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total Amount </b>&#8377;<%=total_amt%></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                
               

                    <br>

                  </div>
                </div>
              </div>
            </div>