  <div class="pageheader">
                <h1>New Customer</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="/">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">New Customer</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Customer</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                                     <div class="panel-body">

                                      <%= form_with(model: customer, local: true) do |f| %>
                                        <% if customer.errors.any? %>
                                          <div id="error_explanation">
                                            <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
                                            <ul>
                                            <% customer.errors.full_messages.each do |message| %>
                                              <li><%= message %></li>
                                            <% end %>
                                            </ul>
                                          </div>
                                        <% end %>

                                <form class="form-horizontal">
                                  <div class="form-group">
                                    <div class="col-sm-3">
                                      <label class="col-sm-10 control-label">Company Name</label>
                                      <%= f.text_field :customer_name, id: :customer_customer_name, class: "form-control",placeholder: "Company Name."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">GST No If Register</label>
                                          <%= f.text_field :gstin_no_reg, id: :customer_gstin_no_reg , class: "form-control" ,placeholder: "GST No."%>
                                    </div>
                                    </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">ARN No</label>
                                          <%= f.text_field :arn_no, id: :customer_arn_no , class: "form-control" ,placeholder: "ARN No"%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Address</label>
                                          <%= f.text_field :address, id: :customer_address  , class: "form-control" ,placeholder: "Address"%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-15 control-label">Customer Place Of Supply</label>
                                         

                                             <%= f.select :cust_place_of_supply, options_for_select(["01-Jammu & Kashmir", "02-Himachal Pradesh","03-Punjab","04-Chandigarh","05-Uttarakhand","06-Haryana","07-Delhi","08-Rajasthan","09-Uttar Pradesh","10-Bihar","11-Sikkim","12-Arunachal Pradesh","13-Nagaland","14-Manipur","15-Mizoram","16-Tripura","17-Meghalaya","18-Assam","19-West Bengal","20-Jharkhand","21-Odisha", "22-Chhattisgarh","23-Madhya Pradesh","24-Gujarat","25-Daman & Diu","26-Dadra & Nagar Haveli","27-Maharashtra","29-Karnataka","30-Goa","31-Lakshdweep","32-Kerala","33-Tamil Nadu","34-Pondicherry","35-Andaman & Nicobar Islands","36-Telangana","37-Andhra Pradesh","97-Other Territory"]),{prompt:true},class: 'form-control', id: :customer_cust_place_of_supply %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-15 control-label">Contact Number</label>
                                          <%= f.text_field :cust_name_of_commodity_supplied, id: :customer_cust_name_of_commodity_supplied, class: "form-control" ,placeholder: "Contact Number"%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-15 control-label"> Contact Person Name </label>
                                          <%= f.text_field :cust_tarrif_no, id: :customer_cust_tarrif_no, class: "form-control" ,placeholder: "Contact Person Name."%>
                                    </div>
                                  </div>



                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">Name Of Service</label>
                                          <%= f.text_field :cust_name_of_service, id: :customer_cust_name_of_service, class: "form-control" ,placeholder: "Name."%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-15 control-label">Service Acc Code</label>
                                          <%= f.text_field :cust_serv_acc_code, id: :customer_cust_serv_acc_code, class: "form-control" ,placeholder: "Service Name"%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="col-sm-10 control-label">PAN No</label>
                                          <%= f.text_field :cust_pan_no, id: :customer_cust_pan_no, class: "form-control" ,placeholder: "PAN No"%>
                                    </div>
                                  </div>

                                   <div class="form-group">
                                    <div class="col-sm-3">
                                   <label class="col-sm-15 control-label">Select Customer Type</label>
                                     <div class="radio">
                                      <%= f.radio_button "customer_type", "E-Commerce GSTIN"%><h6><b>E-Commerce GSTIN</b></h6><br>
                                      <%= f.radio_button "customer_type", "Regular"%><h6><b>Regular</b></h6>
                                    </div>
                                  </div>
                                  </div>
                                    <p>&nbsp;</p>
                                  <div class="panel-body">
                                        <div class="col-sm-offset-3 col-sm-12">
                                        <%= f.submit class: "btn btn-success"%>
                                       
                                        <%= link_to 'View all', customers_path,class: "btn btn-danger" %>
                                        </div>
                                    </div>
                                <%end%>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
