 <div class="pageheader">
   <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Composite</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <div class="pull-right">
        <%= link_to 'Download PDF ',print_pdf_b2b_composite_path(@b2b_composite, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> <b> | </b> <%=link_to 'Back', b2b_composites_path, class: 'btn btn-success'%></div>

        <div class="row">
             <div class="col-md-4">
             <div class="pull-left">B2B Composite
            <p><strong>Invoice Number:</strong>
              <%=@b2b_composite.invoice_number%></p>
              <p><strong>Date:</strong>
                <%=@b2b_composite.invoice_date%></p>
                <p> <strong>Customer Name:</strong>
                 <%=@b2b_composite.customer.customer_name  if @b2b_composite.customer.present? %></p>
                 <p> <strong>Address:</strong>
                   <%=@b2b_composite.customer.address if @b2b_composite.customer.present? %></p>
                   <p> <strong>GSTIN No:</strong>
                     <%=@b2b_composite.customer.gstin_no_reg if @b2b_composite.customer.present? %></p>
                       <br>
                     </div></div>
                         <div class="col-md-12">
                               <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                     <th>Sr No</th>
                                     <th>Item Description</th>
                                     <th>HSN/SAC</th>
                                     <th>UOM</th>
                                     <th>Unit Price</th>
                                     <th>Quantity</th>
                                     <th>Net Amount</th>
                                      <th>CGST</th>
                                      <th>SGST</th>
                                     <th>Tax Rate</th>
                                     <th>Tax Amount</th>
                                     <th>Total Amount</th>
                                   </tr>
                                 </thead>

                                 <tbody>
                                  <%tax_amt = 0%>
                                  <%total_amt = 0%>
                                  <%ans = 0%>
                                  <% @b2b_composite.b2b_composite_items.each_with_index do |i,n|%>
                                  <tr>
                                    <td><%= n + 1 %></td>
                                    <td><%= i.item.dogns%></td>
                                    <td><%= i.item.item_hsn_no%></td>
                                    <td><%= i.item.unit_of_measure.name%></td>
                                    <td>&#8377;<%= i.unit_price%></td>
                                    <td><%=i.quantity%></td>
                                    <td>&#8377;<%= i.net_amt%></td>
                                     <td>&#8377;<%=ans = i.tax_amt/2%></td>
                                     <td>&#8377;<%=ans%></td>
                                    <td><%= i.tax_rate%>&#37;</td>
                                    <%@b2b_composite.update(tax_rate: i.tax_rate)%>
                                    <td>&#8377;<%= i.tax_amt%></td>
                                    <td>&#8377;<%= i.total_amt%></td>
                                  </tr>
                                  <% tax_amt += i.tax_amt.to_f%>
                                  <%total_amt += i.total_amt.to_f%>
                                  <%@b2b_composite.update(b2b_composite_value: total_amt)%>
                                  

                                  <% end %>

                                </tbody>
                              </table>
                           
    <b> Total Tax </b>&#8377;<%=tax_amt%><br>
                    <b>Total Amount</b>&#8377;<%=total_amt%><br>
                    <b>Taxable Value</b>&#8377;<%=text_field_tag :total_amt,"",value: total_amt.to_i,id: :total_amt, readonly:true%><br>
                    <b>Cess</b> <%=text_field_tag :cess,"",id: :cess%><br>
                    <b>Caluclated Cess</b> <%=text_field_tag :b2b_composite1,"",id: :b2b_composite1, readonly:true%><br>
                    <b>Total b2b_composite Value</b><%=text_field_tag :total_b2b_composite_value,"",id: :total_b2b_composite_value, readonly:true%><br>
                    <%if @b2b_composite.total_b2b_composite_value.present?%>
                     <b>Cess:</b><%=@b2b_composite.cess%>&#37;<br>
                    <b>Total:</b>&#8377;<%=@b2b_composite.total_b2b_composite_value%>
                    <%end%>
                    <br>

                  </div>
                  <button onclick="myFunction()", class="btn btn-success">Update Cess</button>

                </div>
              </div>
            </div>
            </div>
       </div>
      </div>
     </div>
</div>





                    <% content_for :javascript do %>
<script type="text/javascript">

function refresh (timeoutPeriod){ 
    refresh = setTimeout(function(){window.location.reload(true);},timeoutPeriod); 
  } 

  


 $(document).on("keyup", "#cess, #total_amt", function() {
    var a =  +$('#total_amt').val();
    var b =  $('#cess').val();
    var c =  a*b/100;
    +$('#b2b_composite1').val(c);
    var d = +$('#total_b2b_composite_value').val(c+a);

    par = c+a;
    par1 = b;
 });
 // var url = window.location.href;
 //     if(window.location.href.indexOf("params1")) {
 //      refresh(2400);
 //    }

 //   if (url.contains('?')) {
 //    refresh(2400);
 //  }

 function myFunction() {
    var test  = $('#total_b2b_composite_value').val();
    var test1 = $('#cess').val();
    document.location.search += '&params1='+ test + '&params2='+ test1;





}


 function button(){
  alert(par);
 }




</script>
<%end%>